.Portfolio {
    margin: 10px 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, .9);
    color: white;

    display: grid;
    grid-template-columns: auto auto .8fr;
    gap: 5px 10px;
    justify-content: center;
    align-items: center;
}
