.PortfolioSection {
    margin: 10px 0;
}

.PortfolioSection h3 {
    font-weight: normal;
    /*text-align: center;*/
}

.PortfolioItems {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto .5fr;
    grid-column-gap: 10px;
    justify-content: center;
    align-items: center;
}
