.CompetencyBar {
    display: inline-block;
    box-sizing: border-box;
    padding: 3px 0;
    height: 60%;
    width: 100%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    background-image: linear-gradient(white, white);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.Competence {
    background-color: white;
    height: 100%;
}
